server:
  port: 8082

spring:
  application:
    name: LMS-COURSE-SERVICE

  datasource:
    url: jdbc:mysql://localhost:3306/lms_course
    username: root
    password: komal123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  kafka:
    bootstrap-servers: localhost:9092

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
