server:
  port: 8081

spring:
  application:
    name: lms-auth-service

  datasource:
    url: jdbc:mysql://localhost:3306/lms_auth
    username: root
    password: komal123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
