/* wrapper */

.profile-wrapper{
    position:relative;
}

/* avatar */

.avatar{
    width:44px;
    height:44px;
    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    font-weight:700;
    color:white;

    cursor:pointer;

    background:
        linear-gradient(135deg,#6366f1,#4f46e5);

    box-shadow:
        0 6px 18px rgba(79,70,229,.35);

    transition:.25s;
}

.avatar:hover{
    transform:scale(1.08);
}

/* dropdown */

.profile-dropdown{

    position:absolute;
    right:0;
    top:60px;

    width:260px;

    background:white;
    border-radius:18px;

    padding:18px;

    box-shadow:
        0 20px 50px rgba(0,0,0,.15);

    animation:drop .25s ease;
}

/* animation */

@keyframes drop{
    from{
        opacity:0;
        transform:translateY(-10px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* header */

.profile-header{
    display:flex;
    gap:12px;
    align-items:center;

    margin-bottom:14px;
}

/* big avatar */

.avatar-large{

    width:52px;
    height:52px;
    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    color:white;
    font-weight:800;

    background:
        linear-gradient(135deg,#6366f1,#4f46e5);
}

/* name */

.profile-name{
    font-weight:700;
}

/* email */

.profile-email{
    font-size:13px;
    color:#64748b;
}

/* role */

.profile-role{
    background:#eef2ff;
    color:#4338ca;

    padding:6px 10px;
    border-radius:8px;

    font-size:13px;
    width:max-content;

    margin-bottom:14px;
}

/* logout */

.logout-btn{

    width:100%;
    padding:10px;

    border:none;
    border-radius:10px;

    background:#ef4444;
    color:white;

    font-weight:600;
    cursor:pointer;

    transition:.2s;
}

.logout-btn:hover{
    background:#dc2626;
}
