server:
  port: 8083

spring:
  application:
    name: lms-assignment-service

  datasource:
    url: jdbc:mysql://localhost:3306/lms_assignment
    username: root
    password: komal123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

  kafka:
    bootstrap-servers: localhost:9092

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

      properties:
        spring.json.trusted.packages: "com.example.events"



    consumer:
        group-id: assignment-group
        auto-offset-reset: earliest

        key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
        value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer

        properties:
          spring.json.trusted.packages: "*"
          spring.json.value.default.type: com.example.events.CourseDeletedEvent

file:
  upload-dir: ./assignment-uploads

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
